openapi: 3.0.0
info:
  version: 0.0.1
  title: Unofficial Degiro config API
  description: Unofficial Degiro API
  contact:
    name: Maxim De Clercq
    url: https://github.com/maximdeclercq/degiro-client
    email: maximdeclercq00@gmail.com
servers:
- url: https://trader.degiro.nl
security:
- SessionIdAuth: []
  IntAccountAuth: []
tags:
- name: config
paths:
  /login/secure/config:
    get:
      summary: Returns the config
      description: Returns the config
      operationId: config
      tags:
      - config
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
components:
  schemas:
    ConfigResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            tradingUrl:
              type: string
            paUrl:
              type: string
            reportingUrl:
              type: string
            paymentServiceUrl:
              type: string
            cashSolutionsUrl:
              type: string
            productSearchUrl:
              type: string
            dictionaryUrl:
              type: string
            productTypesUrl:
              type: string
            companiesServiceUrl:
              type: string
            i18nUrl:
              type: string
            vwdQuotecastServiceUrl:
              type: string
            vwdNewsUrl:
              type: string
            vwdGossipsUrl:
              type: string
            firstLoginWizardUrl:
              type: string
            taskManagerUrl:
              type: string
            landingPath:
              type: string
            betaLandingPath:
              type: string
            mobileLandingPath:
              type: string
            loginUrl:
              type: string
            sessionId:
              type: string
            clientId:
              type: string
          required:
          - sessionId
          - clientId
  securitySchemes:
    SessionIdAuth:
      type: apiKey
      in: query
      name: sessionId
    IntAccountAuth:
      type: apiKey
      in: query
      name: intAccount
